	/* styling flowtype, automatisch aanpassen van lettergroottes etc */
			/* body {
  			  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
			}*/
			body {
			  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
			}

			h1,h2,h3,h4,h5,h6,p {
			 line-height: 1.45;
			}
			h1 { font-size: 3em; }
			h2 { font-size: 2em; }

	/* styling tekst */
		@font-face {
		  font-family: 'Pier Sans Light';
		  src: url('./Fonts/PierSans-Light.otf') format('opentype');
		  font-weight: normal;
		  font-style: normal;
		}

		@font-face {
		  font-family: 'Pier Sans Bold';
		  src: url('./Fonts/PierSans-Bold.otf') format('opentype');
		  font-weight: normal;
		  font-style: normal;
		}

		@font-face {
		  font-family: 'Pier Sans Medium';
		  src: url('./Fonts/PierSans-Medium.otf') format('opentype');
		  font-weight: normal;
		  font-style: normal;
		}

	/* styling menu */
		.navigation {
		  position: relative;
		  width: 100%;
		  text-align: center;
		  overflow: auto;
		  opacity: 0;
		  -webkit-animation: fade-in 1s forwards 0.25s;
		          animation: fade-in 1s forwards 0.25s;
		}
		.navigation-links {
		  background: white;
		  width: 100%;
		  min-width: auto;
		  max-width: 800px;
		  overflow: auto;
		  margin: 0 auto;
		  display: flex;
		  justify-content: space-around;
		}
		.nav-link-container {
		  text-align: center;
		  float: left;
		}
		.nav-link {
		  padding: 10px 0;
		  font-family: 'Pier Sans Medium';
		  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
		  display: inline-block;
		  text-decoration: none;
		  position: relative;
		  transition: color 0.15s ease;
}

	/* Main Page Styles Jarom Vogel homepage*/
		.site-container {
		  background: white;
		}
		.site-title {
		  width: 800px;
		  max-width: 100%;
		  height: 200px;
		  margin: 0 auto;
		  position: relative;
		  background-image: url('./IMG/Header/Header_V1.gif');
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: auto 100%;
		  top: 0;
		  cursor: pointer;
		  -webkit-animation: fade-in 1s forwards;
		          animation: fade-in 1s forwards;
		}
		
		@-webkit-keyframes fade-in {
		  0% {
		    opacity: 0;
		  }
		  100% {
		    opacity: 1;
		  }
		}
		@keyframes fade-in {
		  0% {
		    opacity: 0;
		  }
		  100% {
		    opacity: 1;
		  }
		}

		/* For width 600px and smaller: */
		@media only screen and (max-width: 600px) {
 		 body {
		   background-size: auto 50%;
		  }
		}

	/* styling responsive container */
		.responsive{
			max-width: 800px;
		    height:100%;
		    width:100%;
		    margin: auto;
		}

		.responsivecontact{
			max-width: 400px;
		    height:100%;
		    width:100%;
		    margin: auto;
		}

	/* styling doorlopende tekst */
		.content{
			font-family: "Pier Sans Light", sans-serif;
			text-align: center;
			font-size: 90%;
			line-height: 130%;
			color: dimgray;
			overflow-x: hidden;
		}
		p {
  			word-spacing: -2px;
		}

		/* If the screen size is 600px or less, set the font-size of <div> to 30px */
		@media only screen and (max-width: 600px) {
		  div.content {
		    font-size: 30px!important;
		  }
		}

	/* styling hyperlinks */
			a:link {
			  color: dimgray;
			}
			a:visited {
			  color: dimgray;
			}
			a:hover {
			  color: #c96567;
			}
			a:active {
			  color: #c96567;
			}
			a:link {
			  text-decoration: none;
			}
			a:visited {
			  text-decoration: none;
			}
			a:hover {
			  text-decoration: none;
			}
			a:active {
			  text-decoration: none;
			}

	/* styling titel pagina */
		h1{
			font-size: 30px;
			color: #c96567;
			font-family: Pier Sans Bold;
			word-spacing: -3px;
		}
		
	/* styling titels post */
		h2{
			font-size: 25px;
			color: #c96567;
			font-family: Pier Sans Bold;
			word-spacing: -3px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		
	/* styling afbeeldingen */
		img {
		    max-width: 800px;
		    max-height: 800px;
		    height:100%;
		    width:100%;
		}
		.aligncenter {
		    text-align: center;
		}
		
	/* styling voor de horizontale lijnen tussen de posts */
		#rectangle{
			background: #dddddd;
			max-width: 800px;
			width: 100%;
			height: 7px;
			margin: auto;
			border: none;
		}

		#smallrectangle1{
			background: #dddddd;
			max-width: 180px;
			float: center;
			width: 100%;
			height: 2px;
			margin: auto;
			border: none;
		}

		#smallrectangle2{
			background: #dddddd;
			max-width: 110px;
			float: center;
			width: 100%;
			height: 2px;
			margin: auto;
			border: none;
		}

		#smallrectangle3{
			background: #dddddd;
			max-width: 190px;
			float: center;
			width: 100%;
			height: 2px;
			margin: auto;
			border: none;
		}

		#smallrectangle4{
			background: #dddddd;
			max-width: 130px;
			float: center;
			width: 100%;
			height: 2px;
			margin: auto;
			border: none;
		}

	/* styling vimeo video's */
		.videoWrapper-outer {
		    max-width: 800px;
		}

		.videoWrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			height: 0;
		}

		.videoWrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	/* styling footer ORIGINEEL
		.footer-outer {
		    max-width: 800px;
		    max-height: 800px;
		    height:100%;
		    width:100%;
		    margin: auto;
		}
		.footer-inner {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.copyright-info {
		  height: 45px;
		  padding-top: 25px;
		}
		.social-link {
			position: absolute;
  			right: 10px;
  			top: 17px;
			width: 36px;
			height: 36px;
			opacity: 0.65;
			text-decoration: none;
		}
		.social-link img {
		  width: 36px;
		} */

	/* styling footer Mat */
		footer {
		    width: 100%;
		    padding: 25px;
		}

		.footer-social {
		    display: inline;
		    margin: 0 0 0 20px;
		}

		.footer-social li a {
		    display: block;
		    text-indent: -99999px;
		    outline: none;
		    width: 17px;
		    height: 17px;
		}

		.footer-social li {
		    display: inline-block;
		    position: relative;
		    left: -45px;
		    margin: 0 5px 0 0;
		}

		.footer-social li.mail a {
		    background: url('./Icons/email_icon.png');
		    background-size: 17px 17px;
		    opacity: 0.65;
		}

		.footer-social li.instagram a {
		    background: url('./Icons/instagram_icon.png');
		    background-size: 17px 17px;
		    opacity: 0.65;
		}